.div0{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    background-color: #b9f201;
    border-radius: 50px;
}
.s1{
    font-size: 20px;
    text-align: center;
}

.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 220px;
    background-color: #b9f201;
    border-radius: 50px;
}

.s2{
    font-size: 20px;
    text-align: center;
}

.div3{
    display: flex;
    align-items: center;
    width: 600px;
    height: 300px;
    background-color: #b9f201;
    border-radius: 50px;
}

.s3{
    font-size: 20px;
    text-align: center;
}



a{
    text-decoration: none;
    font-size: 20px;

    float: left;
    margin-left: 140px;
}
