.div0{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width:100%;

}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #5cb6d6;
    border-radius: 5%;

}
.s1{
    font-size: 20px;
    text-align: center;
}

.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #5cb6d6;
    border-radius: 5%;
}

.s2{
    font-size: 20px;
    text-align: center;
}

.div3{
    display: inline-block;
    width: 400px;
    background-color: #5cb6d6;
    float: left;
    margin-left: 100px;
    border-radius: 5%;
}

.s3{
    font-size: 20px;
    text-align: center;
}

.div4{
    display: inline-block;
    width: 400px;
    background-color: #5cb6d6;
    margin-left: 60px;
    border-radius: 5%;
}

.s4{
    font-size: 20px;
    text-align: center;
}

.div5{
    display: inline-block;
    width: 400px;
    background-color: #5cb6d6;
    float: right;
    margin-right: 100px;
    border-radius: 5%;
}

.s5{
    font-size: 20px;
    text-align: center;
}



a{
    text-decoration: none;
    font-size: 20px;

    float: left;
    margin-left: 140px;
}
