*{
    margin: 0%;
}

.div0{
    border: 1px solid black;
}

.div1{
    width: 1533px;
    height: 50px;
    border: 1px solid black;
}

.div2{
    width: 1533px;
    height: 300px;
    border: 1px solid black;
    background-color: 	black;
}

.d1{
    width: 210px;
    height: 270px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 15px;
}

.m1{
    width: 210px;
    height: 270px;
    border-radius: 15px;
}

.d2{
    width: 210px;
    height: 270px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 15px;
}

.m2{
    width: 210px;
    height: 270px;
    border-radius: 15px;
}

.d3{
    width: 210px;
    height: 270px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 15px;
}

.m3{
    width: 210px;
    height: 270px;
    border-radius: 15px;
}

.d4{
    width: 210px;
    height: 270px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 15px;
}

.m4{
    width: 210px;
    height: 270px;
    border-radius: 15px;
}

.d5{
    width: 210px;
    height: 270px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 15px;
}

.m5{
    width: 210px;
    height: 270px;
    border-radius: 15px;
}

.d6{
    width: 210px;
    height: 270px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 15px;
}

.m6{
    width: 210px;
    height: 270px;
    border-radius: 15px;
}

.d7{
    width: 210px;
    height: 270px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 15px;
}

.m7{
    width: 210px;
    height: 270px;
    border-radius: 15px;
}


.div3{
    width: 1533px;
    height: 300px;
    border: 1px solid black;
    background-color: 	black;
}

.d11{
    width: 210px;
    height: 270px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 15px;
}


.m11{
    width: 210px;
    height: 270px;
    border-radius: 15px;
}


.d22{
    width: 210px;
    height: 270px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 15px;
}

.m12{
    width: 210px;
    height: 270px;
    border-radius: 15px;
}


.d33{
    width: 210px;
    height: 270px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 15px;
}

.m13{
    width: 210px;
    height: 270px;
    border-radius: 15px;
}


.d44{
    width: 210px;
    height: 270px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 15px;
}

.m14{
    width: 210px;
    height: 270px;
    border-radius: 15px;
}


.d55{
    width: 210px;
    height: 270px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 15px;
}

.m15{
    width: 210px;
    height: 270px;
    border-radius: 15px;
}


.d66{
    width: 210px;
    height: 270px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 15px;
}

.m16{
    width: 210px;
    height: 270px;
    border-radius: 15px;
}


.d77{
    width: 210px;
    height: 270px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 15px;
}

.m17{
    width: 210px;
    height: 270px;
    border-radius: 15px;
}

.p0{
    font-size: 18px;
    margin-left: 20px;
}

.p0 i{
    color: #0096FF;
}

.p1{
    font-size: 20px;
    margin-left: 20px;
}

.p1 i{
    color: #0096FF;
}

.p2{
    font-size: 20px; 
    margin-left: 20px;
}

.p2 i{
    color: #0096FF;
}

.b1{
    font-size: 20px;
}

.b11{
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #36454F;
    

}

.b22{
    background-color: 	#36454F;
    border-radius: 10px;
}



* {
    color:white
 }


body{
    background-color: black;
}